.main-head{
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 50px;
}
.first-info{
    display: flex;
    
    margin:10px ;
    justify-content: center;
    text-align: center;
}

.info-cont{
    width:40%;
    height:auto;
   
    padding:10px;

}
.first-info-head{
    color: black;
    font-size: 40px;
}
.info-img{
    width:40%;
    height:auto;
    padding:10px;
   
}
.middle-image{
    width:80%;
   

}