@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.main-head{
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 50px;
}
.first-info{
    display: flex;
    
    margin:10px ;
    justify-content: center;
    text-align: center;
}

.info-cont{
    width:40%;
    height:auto;
   
    padding:10px;

}
.first-info-head{
    color: black;
    font-size: 40px;
}
.info-img{
    width:40%;
    height:auto;
    padding:px;
   
}
.middle-img{
    width:80%;
   

}
.middle-part{
  
    display: flex;
    color: black;
   
    justify-content: center;
    text-align: center;
    padding:10px;
}

.card {
    border:1px solid black;
    border-radius: 40px;
    margin:5px;
}

.second-info{
    width:100%;
    height: auto;
    padding:10px;
   margin:40px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
  
}

.second-img{
    margin: 20px;
}

.second-info-cont{
    margin: 20px 70px; 
}
.second-head{
    color: black;
    font-size: 40px;

}
.profile-cont{
  margin: 10px 70px;
  justify-content: center;
  text-align: center;  
}

.profile-part{
    margin:30px 10px;
    display: flex;
    height:auto;
    padding:40px 10px;
    justify-content: center;
    text-align: center;
  
}

.profile-head-name{
    font-size: 40px;
    text-align: center;
    justify-content: center;
    color: black;
    
  
}

.img-card{
border-radius: 50%;
margin-left:30px;
margin-top: 20px;
height: 200px;
width: 200px;

justify-content: center;
text-align: center;
}

.pro-card{
    width:100%;
    justify-content: center;
    text-align: center;
}
.pro-img-card{
    width:100%;
    justify-content: center;
    text-align: center;
}
.middle-img-part{
    border: 1px solid black;
    display: flex;
    height:auto;
    width:100px;
}

.middle-image-part{
    margin:30px 10px;
    display: flex;
    height:auto;
    padding:40px 10px;
    justify-content: center;
    text-align: center;
}
.middle-img-cont{
    margin: 10px 70px;
    justify-content: center;
    text-align: center;  
}
.mid-crd{
    margin:20px;
    
}



.third-info{
    display: flex;
    
    margin:70px 10px ;
    justify-content: center;
    text-align: center;
}
.unorder-list{
    display: flex;
  }
  .social-linls{
    display:block;
  }




  


  @media screen and (max-width: 700px) {
    .first-info{
        justify-content: center;
        text-align: center;
        display: block;
    }
    .info-cont{
        width:100%;
        height:auto;
    }
        .info-img{
            width:100%;
            height:auto;
            padding:20px;
           
        }
        .second-info{
             width:100%;
             height: auto;
             padding:20px;
             margin:20px 0px;
             justify-content: center;
             text-align: center;
             display: block;
          
        }
        .second-img{
            margin: 20px;
            width:300px;
        }

        .second-info-cont{
            margin: 20px 10px; 
        }
        .middle-part{
            margin-left:40px ;
            color: black;
            display: block;
            justify-content: center;
            text-align: center;
            padding:10px;
        }

        .third-info{
           display: block;
           
            justify-content: center;
            text-align: center;
        }
        .info-img{
            width:100px;
            height:auto;
            padding:10px;
           
        }
        .middle-img-cont{
            margin: 10px 40px;
            justify-content: center;
            text-align: center;  
            display: block;
        }
        .profile-cont{
            margin: 10px 20px;
            justify-content: center;
            text-align: center; 
            display: block; 
          }
          
          .profile-part{
            margin:10px 20px;
            display: block;
            height:auto;
            padding:10px 10px;
            justify-content: center;
            text-align: center;
        }
        .img-card{
            border-radius: 50%;
            margin-left: 80px;
            margin-top:10px;
            height: 100px;
            width: 100px;
            border: 1px solid black;
            justify-content: center;
            text-align: center;
            
            
            }
            img{
                width:400px;
            }
            .first-info-head-mid{
                color: black;
                font-size:20px;
            }
            .first-info-head{
                color: black;
                font-size: 30px;
            }



            .image-photo{
                height:200px;
                width:200px; 
                border-radius: 50%;

            }
           

            
        }

  