.main-head{
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 50px;
}
.first-info{
    display: flex;
    
    margin:10px ;
    justify-content: center;
    text-align: center;
}

.info-cont{
    width:40%;
    height:auto;
   
    padding:10px;

}
.first-info-head{
    color: black;
    font-size: 40px;
}
.info-img{
    width:40%;
    height:auto;
    padding:10px;
   
}
.middle-img{
    width:80%;
   

}
.middle-part{
    font-size:20px ;
    background-color: black;
    color: white;
   
    justify-content: center;
    text-align: center;
    padding:10px;
}
.middle-cards{
    display: flex;
    margin :50px 50px;
}
.card {
    margin:10px 50px;
    border:1px solid black;
    border-radius: 40px;
}
.second-info{
    width:100%;
    height: auto;
    padding:10px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
   
}
