.main-head{
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 50px;
}
.first-info{
    display: flex;
    
    margin:10px ;
    justify-content: center;
    text-align: center;
}

.info-cont{
    width:40%;
    height:auto;
   
    padding:10px;

}
.first-info-head{
    color: black;
    font-size: 40px;
}
.info-img{
    width:40%;
    height:auto;
    padding:px;
   
}
.middle-img{
    width:80%;
   

}
.middle-part{
  
    display: flex;
    color: black;
   
    justify-content: center;
    text-align: center;
    padding:10px;
}

.card {
    border:1px solid black;
    border-radius: 40px;
    margin:5px;
}

.second-info{
    width:100%;
    height: auto;
    padding:10px;
   margin:40px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
  
}

.second-img{
    margin: 20px;
}

.second-info-cont{
    margin: 20px 70px; 
}
.second-head{
    color: black;
    font-size: 40px;

}
.profile-cont{
  margin: 10px 70px;
  justify-content: center;
  text-align: center;  
}

.profile-part{
    margin:30px 10px;
    
    height:auto;
    padding:40px 10px;
    justify-content: center;
    text-align: center;
}

.profile-head-name{
    font-size: 40px;
    text-align: center;
    justify-content: center;
    color: black;
  
}

.img-card{
border-radius: 50%;
width:200px;
height: 200px;

border: 1px solid black;
}
.pro-card{
    width:100%;
    justify-content: center;
    text-align: center;
}
.pro-img-card{
    width:100%;
    justify-content: center;
    text-align: center;
}