body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
 }
.product-card{
    background-color: white;
    width: 250px;
    height: 400px;  
    border-radius: 20px;
    box-shadow: 0 0 10px;
    display: inline-block;
    margin-left: 70px ;
    padding: 3px;
}
.card1-img{
    height: 150px;
    width: 160px;
    display: block;
    margin: auto;
    justify-content: center;
    border-radius: 20px;
    padding: 10px 20px;
}
.product-title{
    font-size: 16px;
   
}
.card-body{
    margin-left: 17px;
   
}
.product-dis{
    font-size: 14px;
    
}
.price{
    font-weight: bold;
    font-size: 20px;
   
}
.btn{
     border: none;
     border-radius: 25px;
     padding: 5px 20px ;
     display: block;
     margin: 10px ;
     margin-left: 70px;
     margin-bottom: 50px;
}
.qnty{
    height: 25px;
}
.qnty-btn-con{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.text{
    font-size: 25px;
    margin: auto 10px;
}
