@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.product{
    height: 200px;
}
.arrow{
    height: 20px;
}
.color-btn{
    height:25px;
    width:25px;
    border-radius: 50%;
   border: none;
   margin:5px;
}


.first-black{
    background-color: black;
}
.first-Cool-Grey{
    background-color: #8C92AC;
}
.first-bold-blue{
    background-color:#253957;
}
/*
.black{
    background-color: black;
}

.blue{
 background-color: blue;
}

.red{
background-color: red;
}

*/
.product-image{
    height: 20px;
    width: 20px;
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
   
    cursor: pointer;
    background-color: #ffff;
}
.product-images-container{
  display: flex;
 
  justify-content: center;
}