.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.carousel-item {
  height: 70vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.img-thumbnail {
  height: 400px;
  margin: 5px 10px;
}


/* product preview card css */
#product-main-image {
  width: 800px;
  height: 400px;
  object-fit: stretch;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: block;
  margin: 30px auto;
  padding: 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-image {
  width: 150px;
  height: 100px;
  object-fit: stretch;
  margin: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}