/* Common styles for both desktop and mobile */
.sign-in-body {
  margin-top: 50px;
}

.forms-container {
  position: relative;
  top: 100px;
  width: 100%; /* Set width to 100% to make it responsive */
  max-width: 500px; /* Limit maximum width for larger screens */
  margin: 0 auto; /* Center the form horizontally */
}

#main-container {
  display: flex;
  flex-direction: row;
}

.main-container-sections {
  flex: 1; /* Let each section take equal space */
}

.signup-form {
  display: none;
}

#btn-sign {
  padding: 10px 20px;
  background-color: #252525;
}

.title {
  font-size: 30px;
}

.fa-user {
  font-size: 25px;
}

.fa-lock {
  font-size: 20px;
}

.username-field {
  width: 100%; /* Make the input fields responsive */
  max-width: 300px; /* Limit maximum width for larger screens */
  height: 50px;
  border-radius: 25px;
}

.btn-login {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  width: 100%; /* Make the button responsive */
  max-width: 150px; /* Limit maximum width for larger screens */
  background-color: #252525;
  color: white;
}

.social-icon {
  height: 50px;
  width: 50px;
  justify-content: 
