* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .product-card{
    background-color: white;
    width: auto;
    border-radius: 20px;
    height: auto;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    margin: 13px;
    padding: 5px;
    display: inline-block;
  }
  
  .space-adjust{
    
  }
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 13%;
    padding: 2px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
   
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
    padding : px;
    align-items: center;
    
  }
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  