/* common btn */
.btn{
    color: #ffff;
    font-size: 14px;
    background: black;
    border: 1px solid ;
    padding: 6px 20px;
    margin-top: 5px;
    border-radius: 20px;
}
.center{
    margin: 0 50px;
}